@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <style>
        body {
            background-image: url('https://www.telegraph.co.uk/content/dam/recommended/2020/11/25/Best-smartphones-2020-review-summary_trans_NvBQzQNjv4Bq7bWQfKLf2dhrSxHZc33L6sZqUGxGI-SpjAtF4fl6ZDo.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 1600px 770px;
        }
    </style>
</body>
</html>